<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome <%= @user.email %></h1>
<p>
  You have successfully signed up to Spexops.com.
</p>
<p>
  Your username is: <%= @user.email %>.<br>
</p>
<p>
  To login use this <a href="<%= @web_app_url %>">link</a>
</p>
</body>
</html>