    <p class="text-zinc-800 dark:text-zinc-200">
      This is an open source project.
      <a
        href="https://github.com/yourusername/yourproject"
        class="text-blue-500 dark:text-blue-700 ml-2"
      >View on GitHub</a
      >
    </p>