<div class="flex justify-center">
  <p class="text-zinc-800 dark:text-zinc-200">
    This is an open source project
  </p>
  <div class="ml-2 justify-center">
    <a class="github-button" href="https://github.com/ckretz-org/ckretz" data-color-scheme="no-preference: light; light: light; dark: dark;" data-show-count="true" aria-label="Star ckretz-org/ckretz on GitHub">Star</a>
  </div>
</div>
