<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing access token</h1>

  <%= render "form", access_token: @access_token %>

  <%= link_to "Show this access token", @access_token, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to access tokens", access_tokens_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
