<dialog open id="secrets_form">
  <div class="bg-white p-4 rounded-lg w-full max-w-md">
    <div class="flex flex-row mb-8">
      <h2 class="text-gray-500 grow text-lg font-bold inline-block">Create New Secret</h2>
      <button class="text-lg text-red-600 inline-block font-medium cursor-pointer"
              onclick="document.querySelector('#secrets_form').hidePopover();">X
      </button>
    </div>
    <%= render partial: "secrets/form", locals: { secret: @current_user.secrets.new } %>
  </div>
</dialog>
