<%= turbo_frame_tag dom_id(secret), class: "grid grid-cols-3" do %>
  <div class="">
    <%= link_to secret.name, edit_secret_path(secret),
                data: { turbo_stream: true },
                class: "text-gray-100 lg:text-xl text-gray-600 dark:text-gray-200" %>
  </div>
  <div class="">
    <%#= link_to secret.created_at.to_date, secret, "data-turbo-frame": "_top", class: "lg:text-xl text-gray-600 dark:text-gray-200" %>
    <%= secret.created_at.to_date %>
  </div>

  <div class="">
    <%= button_to "Destroy", secret_path(secret), method: :delete,
                  form: {data: {turbo_confirm: "Delete secret?"}},
                  class: "text-md py-2.5 px-5 rounded-lg font-medium text-sm inline-block" %>
  </div>
<% end %>
