<div id="<%= dom_id secret %>">
  <p class="inline text-gray-500 lg:text-2xl dark:text-gray-400"><%= secret.name %></p>
  <% if action_name != "show" %>
    <%= link_to "Show this secret", secret, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this secret", edit_secret_path(secret), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
