<dialog id="turbo-confirm" class="p-8">
  <form method="dialog">
    <p class="lg:text-xl">Are you sure?</p>
    <div class="flex justify-between p-4">
      <button class="bg-blue-600 text-white px-4 py-2 rounded-lg" value="confirm">Yes</button>
      <button class="bg-gray-200 text-gray-800 px-4 py-2 rounded-lg" value="cancel">No</button>
    </div>
  </form>
</dialog>